main {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-gap: 1rem;
  margin: 0 auto;
  grid-template-rows: auto;
  overflow-x: hidden;
  margin-left: 3em;
  margin-right: 3em;
  max-width: 100%;
}

::-webkit-scrollbar {
  display: none;
}


main figure {
  width: auto;
  height: auto;
}
main figcaption {
  font-size: 2rem;
  font-family: "Cooper Std";
  color: white;
  text-shadow: 4px 4px 4px rgb(0, 17, 253);
}

main img {
  width: 100%;
  height: auto;
  max-width: 100%;
}
footer {
  p {
    color: white;
  }
}
