
@media screen and (max-width: 500px) {
  /*----infinite-scroll---- */
  main {
    display: grid;
    grid-template-columns: 100% !important;
    grid-gap: 1rem;
    justify-content:center;
    margin: 0 auto;
    grid-template-rows: auto;
    overflow-x: hidden;
    max-width: 100%;
  }
  
}
